# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# build outputs
build/
dist/
out/

# electron build
win-unpacked/
*.exe
*.zip
*.blockmap