.header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 12px 20px;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  min-width: 0;
}

.logo-img {
  height: 70px;
  object-fit: contain;
  user-select: none;
}

.nav-btn {
  font-size: 18px;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f4f4f4;
  cursor: pointer;
}

/* 경로 박스 */
.path-box {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;

  max-width: 45%;
  min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  flex-grow: 1;
}

.path {
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

.change-btn {
  padding: 6px 12px;
  background: #ff88bb;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
}